Flask==2.2.2
Flask-Cors==3.0.10
Flask-SocketIO==5.2.0
gunicorn==20.1.0
matplotlib==3.5.1
mediapipe==0.8.9.1
numpy==1.22.3
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
Pillow==7.0.0
python-socketio==5.7.1
websockets==10.3
